:root {
    --button-height: 74px;
    --button-font-size: 28px;
    --input-height: 50px;
    --input-font-size: 28px;
    --input-padding: 10px;
    --input-background-color: black;
    --input-color: #39FF14;
    --res-font-size: 21px;
}

@media (max-width: 600px) {
    :root {
        --button-height: 50px;
        --button-font-size: 24px;
        --input-height: 40px;
        --input-font-size: 24px;
        --input-padding: 5px;
    }
}

body {
    background-color: black;
    color: var(--input-color);
}

.input-box {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: black;
    color: var(--input-color);
}

.input-box input {
    width: 90%;
    height: var(--input-height);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    border: none;
    background-color: var(--input-background-color);
    color: var(--input-color);
}

.res-actual {
    display: flex;
    justify-content: left;
    font-size: var(--res-font-size);
}

button {
    width: 10%;
    height: var(--button-height);
    padding: 10px;
    font-size: var(--button-font-size);
    border: none;
    background-color: black;
    color: var(--input-color);
}