:root {
    --button-height: 74px;
    --button-font-size: 28px;
}

@media (max-width: 600px) {
    :root {
        --button-height: 50px;
        --button-font-size: 24px;
    }
}

.input-box {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}

input {
    width: 90%;
    height: 50px;
    padding: 10px;
    font-size: 28px;
}

.res-actual {
    display: flex;
    justify-content: left;
    font-size: 21px;
}

button {
    width: 10%;
    height: var(--button-height);
    padding: 10px;
    font-size: var(--button-font-size);
}